# http://travis-ci.org/#!/graphite-project/carbon
language: python
python:
    - 2.6
    - 2.7

env:
    - TOXENV=ci

install:
    - pip install -r requirements.txt --use-mirrors
    - python setup.py install --prefix=$VIRTUAL_ENV --install-lib=$VIRTUAL_ENV/lib/python$TRAVIS_PYTHON_VERSION/site-packages
    - pip install tox --use-mirrors

script:
    - tox -e $TOXENV
